body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 12px;
    margin-top: 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 30%;
    /* Defina a largura desejada para cada seção */
}

.footer-section h3 {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}